*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ca-students{
    display: flex;
    
}
.ca-students div{
    margin: 20px;
}
.numbers{
    font-weight: bold;
    font-size: 50px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.student-information{
    margin-top: 5%;
    background-image:url("proqramlasdirma-dersi.jpg");
    background-attachment: fixed;
    
}

@media only screen and (max-width: 992px) {
    .student-information {
        width: 100%;
    }
}
   

